<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Perfil criado com sucesso</title>

    <link rel="shortcut icon" href="images/favicon.png" type="image/png">

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/succes_page.css">    

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <script src="/scripts/redirect.js" defer></script>

</head>
<body>

    <div id="container"> 

        <div class="logo_container">
            <img src="/images/icons/success-check-icon.svg" alt="Succes">
            <h2>Cadastro salvo!</h2>
            <h3>Tudo certo, seu cadastro está em nossa lista de professores.<br>Agora é só ficar de olho no Whatsapp</h3>
        </div>
        <div class="button">

                <a class="list" href="/study">
    
                    <img src="images/icons/study.svg" alt="lista">
    
                    Acessar lista
    
                </a>
        </div>

    </div>

    
    </body>
</html>